* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: url(images/LinkedinBanner.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: #3e8bff;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: #ff5e84;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

a {
  color: unset;
  text-decoration: none;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

/* header */

/* header */

/* header */

/* header */

/* header */

.header__inner {
  display: flex;
  margin: 1.5em 0 1.5em 0;
  padding: 2em;
  border-radius: 5px;
  background: #1d2741;
  transition: 0.5s all;
}

.header__text {
  margin: 0 0 0 2em;
}

.header__text > p {
  margin: 1em 0 0 0;
}

.header__img > img {
  width: 200px;
}

/* btn */

/* btn */

/* btn */

/* btn */

/* btn */

.btn__inner {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.btn__inner-item {
  border-radius: 5px;
  background: #ff5e84;
  font-weight: bold;
}

.btn__inner-item.main-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 180px;
  height: 50px;
  margin: 0 1em 0 0;
}

.btn__inner-item.main-btns:first-child {
  background: linear-gradient(280deg, #ff5e84 30%, #3e8bff 100%);
}

.btn__inner-item.social-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 1em 0 0;
}

.btn__inner-item.social-btns > img {
  height: 20px;
}

/* gallery */

/* gallery */

/* gallery */

/* gallery */

/* gallery */

.gallery__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3em 0 0 0;
}

.gallery__inner-item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 49%;
  margin: 0 0 5em 0;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 2px #5676c5);
}

.gallery__img {
  position: relative;
  min-height: 260px;
  z-index: 0;
  border-radius: 5px;
  overflow: hidden;
}

.gallery__img > img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.gallery__img-skills {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -100%;
  color: white;
}

.gallery__skills-item {
  margin: 2.5px;
  padding: 0.5em 1.5em;
  border-radius: 40px;
  background: #1d2741;
}

.gallery__item-box {
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: space-between;
  width: 100%;
  padding: 1em 0.5em 0.5em 0.5em;
  border-radius: 0 0 5px 5px;
  background: #1d2741;
  z-index: -10;
}

.gallery__inner-item:hover .gallery__item-box {
  bottom: -50px;
}

.gallery__box-btn {
  display: flex;
  height: 30px;
  padding: 5px 10px;
  background: linear-gradient(280deg, #ff5e84 30%, #3e8bff 100%);
  border-radius: 5px;
}

.gallery__item-box {
  flex: 2 100px;
}

/* hover */

/* hover */

/* hover */

/* hover */

/* hover */

.header__img > img:first-child:hover,
.btn__inner-item:hover {
  filter: drop-shadow(5px 5px 9px #5676c5);
  transform: translate3d(-5px, -5px, 0);
}

.gallery__inner-item:hover .gallery__skills-item {
  display: unset;
}

.gallery__inner-item:hover .gallery__img-skills {
  left: -20px;
}

.gallery__box-btn:hover {
  opacity: 0.8;
}

.header__img > img,
.btn__inner-item,
.gallery__item-box,
.gallery__inner-item,
.gallery__img-skills,
.gallery__skills-item,
.gallery__box-btn {
  transition: 0.3s;
}

.gallery__img > img:hover.top-animation {
  margin-top: -950px;
}

.gallery__img > img {
  transition: 5s;
}

/* contact__btn */

/* contact__btn */

/* contact__btn */

/* contact__btn */

/* contact__btn */

.contact{
  display: none;
}

.contact__inner {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 0px;
  bottom: 3em;
  padding: 0;
  left: 2em;
  overflow: hidden;
  transition: 1s;
}

.contact__inner.open {
  height: 476px;
  left: 1em;
  padding: 1em;
}

.contact__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0.5em 0;
  padding: 1em;
  border-radius: 5px;
  background: #1d2741;
  filter: drop-shadow(0 0 3px #5676c5);
}

.contact__btns.control-btn {
  position: fixed;
  bottom: 1em;
  left: 2em;
  margin: 0;
}

.contact__btn-close,
.contact__btn-open {
  display: none;
}

.contact__btn-close.open,
.contact__btn-open.open {
  display: flex;
}

.contact__btn-close {
  display: none;
}

.contact__btns > img {
  width: 30px;
  height: 30px;
}

/* media */

/* media */

/* media */

/* media */

/* media */

@media (max-width: 1200px) {
  .wrapper {
    margin: 0 1em;
  }
}
@media (max-width: 992px) {
  .wrapper {
    margin: 0 0.5em;
  }
  .header__text {
    margin: 0;
    padding: 1em;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1em;
  }
  .header__inner {
    flex-direction: column;
  }
  .header__img > img {
    width: 100px;
    height: 100px;
  }
  .btn__inner-item.social-btns {
    display: none;
  }
  .contact {
    display: flex;
  }
  h1,
  h2,
  p,
  .header__img {
    text-align: center;
  }
  .gallery__item-box {
    display: flex;
    align-items: center;
  }
  .gallery {
    margin: 0 0 5em 0;
  }
  .gallery__inner {
    flex-direction: column;
  }
  .gallery__inner-item {
    width: 100%;
    margin: 0 0 4em 0;
  }
  .gallery__img > img:hover.top-animation {
    margin-top: -500px;
  }
}
@media (max-width: 576px) {
  .header__inner {
    flex-direction: column;
    padding: 1em;
    margin: 0.5em 0 0.5em 0;
  }
  .header__text {
    padding: 0;
  }
  .btn__inner {
    justify-content: space-between;
  }
  .btn__inner-item.main-btns {
    max-width: 49%;
    margin: 0;
  }
}
